@import url("./reset.css");
@import url("./fonts.css");
@import url("./base.css");
@import url("./variables.css");
@import url("./utilities.css");
@import url("./components.css");


/**MAIN**/

main{
    background-color: var(--primary-bg);
    width: 100%;
    min-height: 100vh;
    padding-top: clamp(5.4rem, 3.4vw, 6.2rem);
}



/**SCORE BOARD**/
.score__board{
  width: 100%;
  border: 2px solid var(--primary-clr);
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(14rem, auto));
  padding: clamp(1.4rem, 2vh, 2rem);
  grid-column-gap: clamp(1.4rem, 2vh, 2rem);
  margin-bottom: clamp(11rem, 10.5vh, 12rem);
}

.score__board .score__board--title{
  font-weight: 500;
  color: var(--primary-clr);
 font-size: clamp(2.8rem, 3vw, 3.5rem);
 letter-spacing: 0.4rem;
}


.score__board .score__board--card{
  background-color: var(--primary-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 0.6rem;
}


.score__board .score__board--card .score__board--player-title{
  color: var(--secondary-clr--light);
  font-size: clamp(1.4rem, 0.8vw, 1.6rem);
  font-weight: 500;
  letter-spacing: 0.3rem;
  line-height: 2rem;
}

.score__board .score__board--card .score__board--score{
  color: black;
  font-size: clamp(5.4rem, 3.4vw, 6.2rem);
  font-weight: 700;
}


/**Rock, Paper and Scissor Options **/

.rps_options{
  height: 450px;
  width: 450px;
  margin-inline: auto;
  position: relative;
}

.rps_options .rpc_option{
  width: 160px;
  aspect-ratio: 1 / 1;
  border-radius: 100px;
  position: absolute;
  z-index: 10;
}

.rps_options .rpc_option.r_option{
left: 0;
top: 0;

}

.rps_options .rpc_option.r_option::after{
  content: "";
  width: calc(450px - 160px);
  height: 1.8rem;
  position: absolute;
  left: 80px;
  background-color: rgba(0, 0, 0, .6);
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.rps_options .rpc_option.r_option::before{
  content: "";
  width: calc(450px - 160px);
  height: 1.8rem;
  position: absolute;
  left: 80px;
  background-color: rgba(0, 0, 0, .6);
  top: 50%;
  transform: translateY(-50%) rotate(65deg);
  z-index: -1;
  transform-origin: left;
}

.rps_options .rpc_option.s_option{
  right: 0;
  top: 0;
}

.rps_options .rpc_option.s_option::after{
  content: "";
  width: calc(450px - 160px);
  height: 1.8rem;
  position: absolute;
  left: 80px;
  background-color: rgba(0, 0, 0, .6);
  top: 50%;
  transform: translateY(-50%) rotate(115deg);
  z-index: -1;
  transform-origin: left;
}

.rps_options .rpc_option.p_option{
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.rps_options .rpc_option button{
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.rps_options .rpc_option.r_option button{
  background-color: var(--rock-clr);
}

.rps_options .rpc_option.p_option button{
  background-color: var(--paper-clr);
}

.rps_options .rpc_option.s_option button{
  background-color: var(--scissor-clr);
}

.rps_options .rpc_option button .inner_layer{
  background-color: var(--primary-clr);
  width: 80%;
  height: 80%;
  border-radius: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rps_options .rpc_option button .inner_layer img{
  height: 55%;
  object-fit: contain;
}

/**Result Announcement **/

.result__anouncement{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.result__anouncement .picked__option{
text-align: center;
}

.result__anouncement .picked__option p{
 font-size: 1.7rem;
 color: var(--primary-clr);
 font-weight: 400;
 letter-spacing: 0.3rem;
 margin-bottom: 4rem;
}

.result__anouncement .picked__option .picked__option--item {
  width: 180px;
  aspect-ratio: 1 / 1;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result__anouncement .picked__option .picked__option--item[option = "scissor"] {
  background-color: var(--scissor-clr);
}

.result__anouncement .picked__option .picked__option--item[option = "paper"] {
  background-color: var(--paper-clr);
}

.result__anouncement .picked__option .picked__option--item[option = "rock"] {
  background-color: var(--rock-clr);
}

.result__anouncement .picked__option .picked__option--item.winner {
  animation-name: winnerPulse;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}



.result__anouncement .picked__option .picked__option--item .picked__option--innerLayer{
  background-color: var(--primary-clr);
  width: 80%;
  height: 80%;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result__anouncement .picked__option .picked__option--item .picked__option--innerLayer img{
  width: 55%;
  object-fit: contain;
}

.result__anouncement .result__msg-container{
 text-align: center;
 color: var(--primary-clr);
}

.result__anouncement .result__msg-container .result{
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.4rem;
}

.result__anouncement .result__msg-container .opponent{
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.4rem;
  margin-bottom: 2rem;
}




/**Floating btn Container **/

.btn_container{
  position: fixed;
  bottom: 4rem;
  right: 4rem;
}


/**Rules Popup **/
.rules__popup{
  position: fixed;
  right: 4rem;
  bottom: 10rem;
  background-color: var(--secondary-bg);
  outline: 5px solid var(--primary-clr);
  width: 300px;
  color: var(--primary-clr);
  padding: clamp(1.6rem, 2.4vh, 2rem);
}


.rules__popup .rules__popup--title{
  font-size: clamp(2.4rem, 1.5vw, 2.8rem);
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
}


.rules__popup .rule__popup--lists .rule__popup--list{
 font-size: 1.4rem;
 line-height: 2rem;
 font-weight: 300;
 padding-left: 2.6rem;
 position: relative;
}

.rules__popup .rule__popup--lists .rule__popup--list::before{
  content: "";
  width: 0.8rem;
  aspect-ratio: 1 / 1;
  background-color: var(--list__square-clr);
  display: inline-block;
  margin-right: 0.8rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}



.rules__popup .rule__popup--lists .rule__popup--list:not(:first-child){
  margin-top: 1rem;
}


.rules__popup .rules__popup--close-btn{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  font-family: dangrek;
  color: var(--primary-clr);
  background-color: var(--danger-clr);
  outline: 4px solid var(--primary-clr);
  width: 4.8rem;
  height: 4.8rem;
  font-size: 4.8rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.4em;
}


/**KeyFrames**/
@keyframes winnerPulse {
  0%{
    box-shadow: 0px 0px 0px 10px rgba(46,154,37,1), 0px 0px 0px 10px rgba(46,154,37,0.6), 0px 0px 0px 10px rgba(46,154,37,0.3);
  }

  100%{
    box-shadow: 0px 0px 0px 35px rgba(46,154,37,0), 0px 0px 0px 60px rgba(46,154,37,0), 0px 0px 0px 90px rgba(46,154,37,0);
  }
}